/*
Global variables
*/

$color-white: #fffffff;
$color-white-rgba: rgba(255,255,255,0.85);
$color-black: #000000;
$color-black-rgba: rgba(0,0,0,.2);

//light creamy grey
$color-light: #f0eee9;
//pantone rose quartz
$color-primary: #f7cac9;
//pantone lilac grey
$color-secondary: #9896a4;
$color-secondary-rgba: rgba(152,150,164,0.8);
//pantone peach
$color-accent: #f7786b;
$color-accent-rgba: rgba(247,120,107,0.8);

$text-color: #515152;

