/*
Buttons
*/

.btn {
  background: $color-accent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Arial;
  color: $color-white;
  font-size: 1.2em;
  text-decoration: none;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5% 5% 5% 0;
  &:hover {
    background: $color-secondary;
    text-decoration: none;
    color: $color-accent;
  }
  a {
    text-decoration: none;
    color: $color-light;
  }
  &:visited {
    text-decoration: none;
    color: $color-light;
  }
}

@media (max-width: 720px) {
  a.back-to-top {
    display: none;
    color: $color-accent;
    font-size: 5em;
    position: fixed;
    z-index: 999;
    right: 0.3em;
    bottom: 0.1em;


  }
}

@media (min-width: 721px) {
  a.back-to-top {
    display: none;
    color: $color-accent;
    font-size: 8em;
    position: fixed;
    z-index: 999;
    right: 0.3em;
    bottom: 0.1em;


  }
}