/*
Skills chart
*/

.container {
  overflow: hidden;
  float: left;
}
.percent {
  visibility: hidden;
}
.horizontal {
  .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
    overflow: hidden;
  }
  .progress-track {
    position: relative;
    width: auto;
    height: 20px;
    background: $color-light;
    overflow: hidden;
  }
  .progress-fill {
    position: relative;
    height: 20px;
    width: 0%;
    color: $color-light;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
  }
}

  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px $color-black-rgba;
    overflow: hidden;
  }

  .one {
    background-color: $color-accent;
  }
  .two {
    background-color: $color-accent;
  }
  .three {
    background-color: $color-accent;
  }
  .four {
    background-color: $color-accent;
  }
  .five {
    background-color: $color-accent;
  }
