/*
 Sticky header and hero banner
 */

.sticky-header{
  background-color: $color-white;
  transition: 1s;
  z-index: 200;
  -webkit-overflow-scrolling: touch;
}

.is-sticky .sticky-header {
  border-bottom-color: $color-accent-rgba;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  background-color: $color-white-rgba;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
}

.hero {
  padding: 0;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: linear-gradient(0deg, $color-secondary-rgba, $color-secondary-rgba),  url(../img/coffee-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @media screen and (max-width: 720px) {
    display: none;
  }
  &-mobile {
    padding: 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: linear-gradient(0deg, $color-secondary-rgba, $color-secondary-rgba), url(../img/coffee-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media screen and (min-width: 721px) {
      display: none;
    }
  }
}

.banner-inner {
  margin: 0 auto;
  width: 70%;
  padding: 5% 0 5% 0;
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  color: $color-primary;
  i {
    font-size: 2.8em;
  }
  @media screen and (max-width: 720px) {
    font-size: 3em;
    line-height: 1.5;
  }
}
.heart {
  color: $color-accent;
  padding-top: 9%;
  &-mobile {
    color: $color-accent;
    padding-top: 10%;
  }
}



